@charset "UTF-8";
.calendar{
	background-color: rgba(255,255,255,0.7);;
	text-align: center;
	margin: 0 auto;
	font-size:13px;
}

.calendar td{
	font-weight: bolder;
	width: 50px;
	height: 50px;
}
.calendar thead tr:first-child td {
	font-size: 1.3em;
}

.calendar thead tr:last-child td{
	background-color: gray;
	color: white;
	height: 30px;
}
/* .calendar tbody td{
	border-bottom: #ffedcc 1px solid;
} */
.pastDay {
	background-color: lightgray;
}
.today{
	background-color: #FFCA64;
	cursor: pointer;
}
.futureDay{
	background-color:#FFFFFF;
	cursor: pointer;
}

.choiceDay {
	background-color:#3E85EF;
	color: #fff;
	cursor: pointer;
}

.startDay{
	background-color:pink;
	color:white;
	cursor:pointer;
}
.endDay{
	background-color:skyblue;
	color:white;
	cursor:pointer;
}
#prev, #next{
	cursor: pointer;
}